<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timetablescheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/time"
        android:label="@string/app_name"
        android:roundIcon="@drawable/time"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimetableScheduler">
        <activity
            android:name=".PrincipalApproveTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".DeanApproveTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AdminApproveTimetableActivity"
            android:exported="false" /> <!-- Activities -->
        <activity
            android:name=".TimetableDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".TimetableGenerationActivity"
            android:exported="false" />
        <activity
            android:name=".SubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".BatchActivity"
            android:exported="false" />
        <activity
            android:name=".TeachersActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DaysPeriodsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" /> <!-- Genetic Algorithm Service -->
        <service
            android:name=".GeneticService"
            android:exported="false" />
    </application>

</manifest>